<div class="menu-bar flex justify-content-between align-items-center w-full h-full">
  <div class="flex justify-content-start align-content-center align-items-center ">
    <img src="assets/images/hiberus-logo.jpg" class="logo"/>
    <h1 class="menu-bar__title">Technical Test</h1>
  </div>
  <div class="flex align-content-center menu-bar__user">
    <i type="button" class=" pi pi-user pointer user" (click)="menu.toggle($event)"></i>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </div>
</div>